// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

:root {
    --body-bg: $body-bg;
    --font-family-sans-serif: $font-family-sans-serif;
    --font-size-base: $font-size-base;
    --line-height-base: $line-height-base;
}
